<div class="foot text-center">
  <div class="parent d-flex justify-content-between align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="p-3">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="p-3">
            <h3>AROUND THE WEB</h3>
            <div class="icons">
              <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-solid fa-globe"></i></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="p-3">
            <h3>ABOUT FREELANCER</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyRight p-3">
    <p>
      Copyright ©Made And design by
      <a
        href="https://www.linkedin.com/in/mohamed-kamal-b819b3258/"
        target="_blank"
        >Mohamed Kamal</a
      >
    </p>
  </div>
</div>
